.screenFrame {
    min-width: 30vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    position: relative;
    overflow: auto;
}

.screenImage {
    max-height: 60vh;
    max-width: 60vw;
}

.placeholderText {
    color: #ccc;
    font-size: 16px;
}
