1 VERSIONINFO
FILEVERSION 1,2,3,4
PRODUCTVERSION 1,2,3,4
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName","SplinterRAT"
      VALUE "FileDescription","Descripcion del dia de hoy"
      VALUE "FileVersion","1.2.3.4"
      VALUE "InternalName","Splinter client"
      VALUE "LegalCopyright","SplinterRAT product name"
      VALUE "OriginalFilename","Copyrigth33"
      VALUE "ProductName","original.exe"
      VALUE "ProductVersion","1.2.3.4"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
